body {
    font-family: Arial;
    background-color: #eef3f9;
}

.container {
    width: 55%;
    margin: auto;
    background: white;
    padding: 25px;
    margin-top: 40px;
    border-radius: 10px;
}

input, button {
    display: block;
    margin-bottom: 15px;
}

button {
    background: #2563eb;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}
